<nav id="nav-bar">
  <img class="logo" src="/images/logo.jpg" >
  <span class="header">Card Game</span>
    <% if(user  === null) { %>
    <a href = "/login"> Login </a>
    <% } else{ %>
  <form method="POST" action="/logout">
    <button type="submit" class="btn btn-info"> Logout</button>

    <span class="label label-info"><%= user %></span>

  </form>
</nav>
    <% } %>




