.form {
background-color: #eee;
}
.jumbotron {
  max-width: 500px;
  margin:100px auto;
  background-color:#A9A9A9;

  .btn {
    padding: 5px;
    margin: 0;
    color:#A9A9A9;
  }
  input {
    width: 100%;
    margin: 10px;
  }
}


div .bg-warning {
  color: #9F6000;
  background-color: #FEEFB3;
  margin: 5px ;

}
div .bg-success {
  color: #228B22;
  background-color: #228B22;
  margin: 5px ;

}
div .bg-info {
  color: #00529B;
  background-color: #BDE5F8;
  margin: 5px ;
}
div .bg-danger {
  color: #D8000C;
  background-color: #FFD2D2;
  margin: 5px ;
}

.fullscreen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_box {
  width: 30vw;
  height: 150px;
  background-color: #A9A9A9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_box form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.login_box form button {
  align-self: flex-end;
}

.login-register {
  margin-top: 10px;
  height: 40px;
  width: 80px;
  border-radius: 5px;
}






