.form {
background-color: #eee;
}
.jumbotron {
  max-width: 500px;
  margin:100px auto;
  .btn {
    padding: 5px;
    margin: 0;
  }
  input {
    width: 100%;
    margin: 10px;
  }
}


 div .bg-warning {
  color: #9F6000;
  background-color: #FEEFB3;
  margin: 5px ;

}
div .bg-success {
  color: #228B22;
  background-color: #228B22;
  margin: 5px ;

}
div .bg-info {
  color: #00529B;
  background-color: #BDE5F8;
  margin: 5px ;
}
div .bg-danger {
  color: #D8000C;
  background-color: #FFD2D2;
  margin: 5px ;
}








