html, body {
  overflow: hidden;
  background-image: url(../images/cardgameBackground.png);
  background-size: 100vw;
  background-color: green;
}

.game_board {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.opponent_hand {
  height: 20vh;
  width: 80vw;
  /*background-color: red;*/
  display: flex;
  justify-content: space-between;
  padding-right: .5em;
}

.player_area {
  height: 150px;
  width: 80vw;
  /*background-color: blue;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prize_and_bids {
  height: 30vh;
  width: 50vw;
/*  background-color: yellow;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: rgba(0, 0, 0, 0.3);
  height: 140px;
  width: 100px;
  margin: 10px;
  display: flex;
}

.bids {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player_hand {
  width: 80%;
  height: 100%;
  /*background-color: purple;*/
  display: flex;
  justify-content: space-between;
  padding-right: .5em;
  align-items: center;
}

.submit {
  background-color: yellow;
  height:100px;
  width: 100px;
  display: inline;
}

.face_up {
  height: 100px;
  width: 5vw;
/*  background-color: white;*/
}

.player_hand .face_up {
  margin-left: .2em;
}

.opponent_hand .face_down {
  margin-left: .5em;
  display: flex;
  align-items: flex-end;
}

.opponent_hand .card_img {
  width: 80px;
  height: 112px;

}


.face_down {
  height: 100px;
  width: 5vw;
  /*background-color: brown;*/
}

.bid {
  height: 150px;
  width: 100%;
}

#selected_card {
  display: none;
}

button {
  height: 100%;
  width: 100%;
  border-radius: 50px;
}

.card_select_form {
  height: 100%;
  width: 100%;
}

.name {
  color: white;
}

.points {
  color: white;
}

.hand_card {
  overflow: hidden
}

.hand_card:hover {
  position: relative;
  height: 140px;
  width: 100px;
  z-index: 10;
}

.selected {
  align-self: flex-start;
  width: 100px;
  height: 140px;
}

.card_img {
  width: 100px;
  height: 140px;
}

.last_turn {
  display: flex;
  flex-direction: column;
}

.last {
  transform: rotate(90deg);
  margin: .25em;
}






