#nav-bar {
  height: 80px;
  width: 100%;
  background-color: #A9A9A9;
  color: #e8fdff;
  left: 0;
  top: 0;
  position: fixed;
  z-index:100;

  }
#nav-bar .logo{
  padding: 2em,0px;
  height: 80px;
  width: 80px;
  float: left;
}
#nav-bar .header {
  float: left;
  padding: 10px;
  font-size: 200%;
  line-height: 1.5em;

}
.btn {
  float: right;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  color:white;


}
.label {
  float: right;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  color:white;


}
